 html, body {
    background-color: #9ACBDF; /* sets entire page colour */
    font-family: "Calibri", sans-serif; /* sets entire documents text font */
} 

.countries { /* references all country elements from unordered list*/
    list-style-type: none; /*removes bullet points*/
    padding: 0;
    display: grid; /* css property grid defines elements to show as grids */
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 12px; /* distance between each country element */
}

.countries li { /* references all list items from unordered list countries*/
    border: 2px solid #FFFFFFFF; /* adds a border around each country list item */
    margin: 5px; /* margin of border set to 5 pixels */
    padding: 8px; /* padding set to 8 pixels*/
    background-color: #B6B7B8; /* sets background colour of each list item */
}

#resultsSearchDisplay {
    padding: 8px;
    margin-top: 8px;
    list-style-type: none;
}

#resultsSearchDisplay li {
    background-color: #C8C8C8;  /* Slightly lighter grey for list items */
    border: 1px solid #F8F8F8;  /* Border for list items */
    margin-bottom: 12px;  /* Space between list items */
    padding: 12px;  /* Padding inside list items */
    list-style-type: none;  /* No bullets */
}

#resultsSearchDisplay {
    display: none;  /* This hides the div initially */
    /* ... other styles ... */
}



